.DS_Store
.ipynb_checkpoints/
.idea/
__pycache__

ScandiStocks_SunYuxin/ScandiStocks/ScandiStocks/scandi.csv
ScandiStocks_SunYuxin/ScandiStocks/ScandiStocks/scandi.csv.zip
ScandiStocks_SunYuxin/ScandiStocks/ScandiStocks.xcodeproj/
