.DS_Store
.ipynb_checkpoints/
.idea/
__pycache__

Scandinavian_Stocks_SunYuxin/ScandiStockDataCheck/ScandiStockDataCheck/scandi.csv
Scandinavian_Stocks_SunYuxin/scandi.csv.zip
Scandinavian_Stocks_SunYuxin/ScandiStockDataCheck/ScandiStockDataCheck.xcodeproj/
